/* Reset styles */
body, h1, h2, h3, p, img, ul, li {
    border: 0;
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    background: #eaf8fb;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 21px;
}

/* Header styles */
#header {
    background-color: #333;
    background-image: url(images/headerbkgd.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    color: #fff;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    margin: 0 auto;
    min-height: 130px;
    padding: 45px 15px 15px;
    width: 870px;
}

ul.navigation {
    list-style: none;
    margin-top: 20px;
}

ul.navigation li {
    display: inline-block;
    margin: 0 3px 5px;
}

ul.navigation li a {
    background: #4a4a4a;
    color: #fff;
    border-radius: 2px;
    border: 1px solid #595959;
    padding: 3px 10px;
    text-decoration: none;
}

ul.navigation li a:hover {
    background-color: #000;
}

/* Content styles */
.content {
    margin: 15px auto;
    width: 900px;
    display: flex; /* Flexbox layout */
    flex-direction: column;
}

.col-right,
.sidebar-left {
    width: 100%; /* Adjust width for responsive layout */
}

.col-right img {
    float: none; /* Reset float for images */
    margin: 0 auto 10px; /* Center images */
}

.sidebar-left {
    float: none; /* Reset float for sidebar */
    width: 100%; /* Adjust width for responsive layout */
    padding: 0 10px;
}

.list {
    border-bottom: 1px solid #c3dce1;
    padding: 0 0 20px 15px;
}

.list li {
    margin-bottom: 10px;
}

.list li a {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
}

/* Footer styles */
#footer {
    background-color: #c4d5d9;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    width: 900px;
}

/* Media queries for mobile responsiveness */
@media only screen and (max-width: 600px) {
    .content {
        width: 100%; /* Adjust width for smaller screens */
    }

    .col-right,
    .sidebar-left {
        width: 100%; /* Adjust width for smaller screens */
        padding: 0; /* Reset padding */
    }

    .col-right img {
        margin: 0 auto 20px; /* Adjust image margin for smaller screens */
    }
}
